# Copia este archivo a .env (o exporta estas variables) antes de levantar la app.
# También puedes pasarlas como variables de entorno del sistema/contenedor.

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bochocredit
DB_USER=postgres
DB_PASSWORD=postgre

JWT_SECRET=8EQ9erCMDArSWcaXnAZ6pcP3BMBPc1HXwM5COQNuWiD


CORS_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:5173
